body {
  background-color: lightyellow;
}

img {
  border-radius: 100%;
}

p {
  font-family: italic;
  }

.grid-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill,40%);
  display: inline-grid;
  justify-items: center;
  column-gap:50px;
  row-gap: 50px;


}
.charactercard {
  border-style : double;
  border-radius: 3%;
  width: 60px;
}
